<%= form_tag(admin_change_user_payment_path(@admin_user), method: :patch, class: 'form-horizontal') do %>
  <div class="form-group">
    <label class="col-md-4 control-label">Método de pagamento </label>
    <div class="col-md-8">
      <%= select_tag(:payment_method, options_for_select(@payment.accepted_payment_methods, selected: @payment.method
      ), class:'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Status do pagamento </label>
    <div class="col-md-8">
      <%= select_tag(:status, options_for_select(@payment.accepted_payment_status, selected: @payment.status), class:'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary pull-right">
        Salvar
      </button>
      <%= link_to "Cancelar pagamento", admin_remove_user_payment_path(@admin_user), method: :patch, data: { confirm: "Tem certeza que dejesa cancelar a compra do usuário #{ @admin_user.name }?" }, class:"btn btn-danger pull-left" %>
    </div>
  </div>
<% end %>
