Informações Básicas: 
<p>- O workshop terá a duração de 4 horas (mínimo) a 6 horas (máximo) com o objetivo de fazer uma breve introdução à engenharia aeronáutica, objetivando o aprendizado de como construir um planador para a competição de planadores da VII STEM.</p>
<p>- Os facilitadores serão membros do Aeromec Aerodesign UFC, equipe de Aerodesign da Universidade Federal do Ceará.</p>
<p>- O workshop será dividido em três áreas da equipe: Aerodinâmica, Cargas e Estruturas, Estabilidade e Controle.</p>
<p>- As inscrições para o curso iniciam dia 10/10/2016.</p>
Ementa:
Aerodinâmica: 
<p>- Conceitos fundamentais;</p>
<p>- Perfis Aerodinâmicos;</p>
<p>- Asas de envergadura finita;</p>
Estabilidade e controle: 
<p>- Definição de estabilidade;</p>
<p>- Momentos em uma aeronave;</p>
<p>- Determinação do centro de gravidade;</p>
<p>- Introdução à estabilidade longitudinal estática;</p>
Cargas e Estruturas:
<p>- Seleção de Materiais;</p>
<p>- Cargas Envolvidas;</p>
<p>- Esforços em uma aeronave;</p>
Considerações finais:
Com o intuito de atrair a participação de estudantes na competição de planadores da VII STEM, o evento tem objetivo de informar ao público-alvo sobre alguns aspectos relevantes para o sucesso do projeto. Além disso, essas informações servem como base para aqueles que desejam conhecer melhor o assunto e se aprofundar. O workshop realizado pela equipe Aeromec Aerodesign UFC terá informações sobre os materiais com melhores relações custo-benefício para construção de planadores, sendo essas informações diluídas durante as apresentações dos membros da equipe.